@model IEnumerable<Diplom.Models.Manufacturer>
@{

}

<style>
    .scale {
        transition: 1s; /* Время эффекта */
    }

        .scale:hover {
            transform: scale(1.2); /* Увеличиваем масштаб */
            
        }
</style>

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white"> 
                    <h1>О нас</h1>
                    <p style="font-size: 21px !important;">
                        Весь товар, продаваемый в нашем интернет магазине, соответствует необходимым сертификатам качества.
                        Мы не сотрудничаем с подозрительными производителями, так как чувствуем ответственность за каждого своего покупателя.
                        В то же время мы понимаем, что не всем по силам приобрести прибор от именитой фирмы. Поэтому у нас всегда можно найти достойные замены мировых брендов.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/img/About.png" alt="Логотип" style=" width:20em;">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Наши преимущества</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="scale h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">Оперативная доставка</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="scale h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center">Присутствует возврат товара</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="scale h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center">Скидки</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="scale h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">Большое количество пользователей</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Start Brands -->

    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Партнёры</h1>
                    <p style="font-size: 21px !important;">
                        Партнёры с которыми мы сотрудничаем
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer <= 4))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                 
                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 9 && man.id_Manufacturer <= 12))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 13 && man.id_Manufacturer <= 16))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 17 && man.id_Manufacturer <= 20))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 20 && man.id_Manufacturer <= 23))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 24 && man.id_Manufacturer <= 27))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="row">
                                            @foreach (var item in Model.Where(man => man.id_Manufacturer >= 28 && man.id_Manufacturer <= 31))
                                            {
                                                <div class="col-3 p-md-5">
                                                    <a href=""><img class="img-fluid brand-img" src="~/img/@item.Image" alt="@item.Name"></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>

                        <!--End Carousel Wrapper-->
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
