@model Diplom.Models.characteristic

@{

}
<div style="display: inline-flex; margin-top: 1em; margin-bottom: 20px">
    <a title="Вернуться" style="background-color: #e9eef5 !important; color:black;" class="btn btn-lg rounded-pill" href="@Url.Action("Edit", "Admin", new { id = Model.Product.id_Product})">&lt;</a>
    <h2 style="margin-left:10px">Вы действительно хотите эту характеристику: </h2>
</div>
<h3 style="margin-bottom:15px">@Model.All_Characteristic.Name_characteristic  @Model.Value.Name_Value @if (Model.Value.Unit.Name_Unit == "0") { } else { @Model.Value.Unit.Name_Unit }</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
            <input style="margin-bottom:15px" type="submit" value="Delete" class="btn btn-success" />
    }
</div>