@model Diplom.Models.Product

@{

}
<div style="display: inline-flex; margin-top: 1em; margin-bottom: 20px">
    <a title="Вернуться в магазин" style="background-color: #e9eef5 !important; color:black;" class="btn btn-lg rounded-pill" href="@Url.Action("Index", "Admin")">&lt;</a>
    <h2 style="margin-left:10px;">Редактирование товара</h2>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Название продукта: </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameProduct, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameProduct, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Категория: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.id_Category, ViewBag.idCategory as SelectList)
                </div>
            </div>

            <div class="form-group">
                <label>Подкотегория: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model=>model.id_Type, ViewBag.idType as SelectList)
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea style="width:100%; height:250px">@Model.Description</textarea>
                </div>
            </div>*@

            <div class="form-group">
                <label>Гарантия: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.id_Guarantee, ViewBag.idGarant as SelectList)
                </div>
            </div>

            <div class="form-group">
                <label>Производитель: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.id_Manufacturer, ViewBag.idManufact as SelectList)
                </div>
            </div>

            <input style="margin-top:15px; margin-bottom:15px; width:220px" type="submit" value="Сохранить изменения" class="btn btn-success" />
        </div>
    }
