@using Diplom.Models
@model ProductListViewModel

@{
    ViewBag.Title = "Index";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2 style="margin-top:15px">Список товаров</h2>

@if (User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-success btn-lg" style="margin-top: 10px" href="@Url.Action("Create New", "Create")">Создать товар</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="cartTable" style="margin-top: 2em" class="table">
                <tr>

                    <th>
                        Название продукта
                    </th>
                    <th>
                        Цена
                    </th>
                    <th class="text-center">Действия</th>
                </tr>

                @foreach (var item in Model.Products)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(item.NameProduct, "Edit", new { id = item.id_Product })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceValue) &#8381;
                        </td>
                        <td>
                            @Html.ActionLink("Изменить", "Edit", new { id = item.id_Product }) |
                            
                            @Html.ActionLink("Удалить", "Delete", new { id = item.id_Product })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
}
else
{
    <p>А ты же пользователь</p>
}
<style>
    a {
        text-decoration: none !important;
    }

        a:hover {
            color: #59ab6e
        }
</style>