<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="login">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <a href="" title="Закрыть" class="close" style="background-color: #59ab6e !important">X</a>
                        Вход
                    </h3>
                </div><!-- /.modal-header-->
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group" style="margin-bottom:20px">
                            @Html.TextBox("Email"
                                       , null
                                       , "text"
                                       , new
                                       {
                                           @class = "form-control"
                                           ,
                                           @placeholder = "E-mail или телефон"
                                       })
                        </div>
                        <div class="form-group" style="margin-bottom:20px">
                            @Html.Password("Password"
                                       , null
                                       , new
                                       {
                                           @class = "form-control"
                                           ,
                                           @placeholder = "Пароль"
                                       })

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox" style="margin-bottom:20px;">
                                    <input id="RememberMePart" name="RememberMe" type="checkbox" value="true" style="width:25px" />
                                    <label for="RememberMePart"><span></span>Запомнить меня</label>
                                    <input name="RememberMe" type="hidden" value="false" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col d-grid">
                                <div>
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="Войти" style="width:150px; margin-right:15px">Войти</button>@*<button class="btn btn-success btn-lg" href="@Url.Action("Register", "Account", null, null)">Регистрация</button>*@
                                    @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "lineDelite" })
                                </div>
                                @*Забыли пароль(добавить)*@
                            </div>
                        </div>
                    }
                </div><!-- /.modal-body-->
            </div><!-- /#login-->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->


<style>
    .btn-arrow {
        background: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: solid 1px;
        color: #81838d;
        height: 21px;
        width: 21px;
        padding: 0;
        vertical-align: top;
        display: inline-block;
        margin-top: 8px;
    }



        .close:hover {
            background: #00d9ff;
            color: red;
        }

    .lineDelite {
        text-decoration: none;
        color: #59ab6e;
    }
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
        .lineDelite:hover {
            color: #305C3A;
        }
</style>


@*@using Microsoft.AspNet.Identity*@
@*@if (Request.IsAuthenticated)*@
@*{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Здравствуйте " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
