@model Diplom.Models.Orders
@{
    ViewBag.Title = "Форма заказа";
    Diplom.Models.Entities db = new Diplom.Models.Entities();
}

<h2>Офрмить заказ</h2>
<p>Пожалуйста, введите ваши контактные данные.</p>

@using (Html.BeginForm())
{
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваш адрес: </label>
        @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Ваш город: </label>
        @*@Html.TextBoxFor(x => x, new { @class = "form-control" })*@
    <select id="@Model.id_City"  name="@Model.id_City">
        @foreach (var city in db.CityNew)
        {
            <option value="@city.id_City">@city.CityName</option>
        }

    </select>
    </div>

    <div class="form-group">
        <label>Цена за доставку: 300 &#8381;</label>
            
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ"/>
    </div>
}
