@using Diplom.Models
@model Product
@{ 
    Diplom.Models.Entities db = new Diplom.Models.Entities();
    var Characteristic = (from product in db.Product
                            join characteristic in db.characteristic on product.id_Product equals characteristic.id_goods
                            join all_characteristic in db.All_Characteristic on characteristic.id_Param equals all_characteristic.id
                            join value in db.Value on characteristic.id_Value equals value.id_Value
                            join unit in db.Unit on value.id_Unit equals unit.id_Unit
                            select new
                            {
                               id_Product = product.id_Product,
                               Position = characteristic.Position,
                               NameCharacteristic = all_characteristic.Name_characteristic,
                               NameValue = value.Name_Value,
                               NameUnit = unit.Name_Unit

                            }).ToList();
    int? navID = ViewBag.ID;
}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3" style="max-width:80%; margin-left:60px">
                        <img class="card-img img-fluid" src="~/img/@Model.Image" @*Здесь будет изображение товара*@ alt="Card image cap" id="product-detail">
                    </div>
                    
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">@Model.NameProduct</h1>
                            <p class="h3 py-2" style="font-size: 24px !important; font-weight: 500 !important; color: green ">@Model.Price.OrderByDescending(price => price.Id_Price).FirstOrDefault().Price1 &#8381;</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Производитель:</h6>
                                </li>
                                <li class="list-inline-item">
                                        <img src="~/img/@Model.Manufacturer.Image" style="width:100px; height:20px">
                                </li>
                            </ul>

                            <h6>Описание:</h6>
                            <p>@Model.Description</p>

                            <h6>Характеристики:</h6>
                            <ul class="list-unstyled pb-3">
                                @foreach(var item in Characteristic.Where(c => c.id_Product == navID)) 
                                {
                                    
                                    <li>@item.Position  @item.NameCharacteristic  @item.NameValue  @item.NameUnit</li>
                                }
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">

                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Купить</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Добавить в корзину</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



