@using Diplom.Models
@using System.Text
@using System.Text.RegularExpressions
@model ProductListViewModel
@{
    ViewBag.Title = "Index";
    

}
<!-- Start Content -->

<div class="container py-5">
    <div class="row">
        @Html.Action("Menu", "Nav")
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="@Url.RouteUrl("Home")">Главная</a>
                        </li>
                    </ul>
                </div>
                @*<div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Featured</option>
                            <option>A to Z</option>
                            <option>Item</option>
                        </select> 
                    </div>
                </div>*@
            </div>
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    if (item.Sales == true)
                    {
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            
                            <img class="card-img rounded-0 img-fluid" src="~/img/@item.Image">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="@Url.Action("Details", "Shop", new { id = item.id_Product })"><i class="far fa-eye"></i></a></li>
                                    <li data-bs-toggle="modal" data-bs-target="#exampleModal"><a class="btn btn-success text-white mt-2" href="@Url.Action("AddToCart", "Cart", new {productId = item.id_Product })"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            @try
                                    {
                                        string Nothtml1 = @HttpUtility.UrlDecode(HttpUtility.UrlDecode(item.NameProduct, Encoding.UTF8));//"<html><head><title>Home Page</title></head><body>Welcome</body></html>";
                                        Nothtml1 = Regex.Replace(Nothtml1, "<[^>]+>", string.Empty);
                            <div data-name="@Nothtml1">
                                <div>
                                    @if (Nothtml1.Length > 23)
                                                {
                                                    if (item.NameProduct.Length > 23)
                                                    {
                                    <a href="@Url.Action("Details", "Shop", new { id = item.id_Product })" class="h3 text-decoration-none" style="font-size:19px !important" title="@item.NameProduct">@Nothtml1.Remove(23, Nothtml1.Length - 23)...</a>

                                                    }

                                                }
                                                else
                                                {
                                    <a href="@Url.Action("Details", "Shop", new { id = item.id_Product })" class="h3 text-decoration-none" style="font-size:19px !important" title="@item.NameProduct">@Nothtml1</a>

                                                }
                                </div>
                            </div>
                                    }
                                    catch
                                    {

                                    }
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">

                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>

                            <p class="text-center mb-0" style="font-size: 24px !important; font-weight: 500 !important; color: green ">@item.PriceValue &#8381;</p>
                            @if (item.OldPrice != null)
                            {
                            <p class="text-center mb-0" style="font-size: 24px !important; font-weight: 500 !important; color: #717173; text-decoration: line-through ">@item.OldPrice &#8381;</p>
                                    }
                        </div>
                    </div>
                </div>
                    }
                    else
                    {
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/@item.Image">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">

                                    <li><a class="btn btn-success text-white mt-2" href="@Url.Action("Details", "Shop", new { id = item.id_Product })"><i class="far fa-eye"></i></a></li>
                                    <li data-bs-toggle="modal" data-bs-target="#exampleModal"><a class="btn btn-success text-white mt-2" href="@Url.Action("AddToCart", "Cart", new {productId = item.id_Product })"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color:green; text-align:center" >Товар успешно добавлен в корзину</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height:140px">
                            @try
                                    {
                                        string Nothtml1 = @HttpUtility.UrlDecode(HttpUtility.UrlDecode(item.NameProduct, Encoding.UTF8));//"<html><head><title>Home Page</title></head><body>Welcome</body></html>";
                                        Nothtml1 = Regex.Replace(Nothtml1, "<[^>]+>", string.Empty);
                            <div data-name="@Nothtml1">
                                <div>
                                    @if (Nothtml1.Length > 23)
                                                {
                                                    if (item.NameProduct.Length > 23)
                                                    {
                                    <a href="@Url.Action("Details", "Shop", new { id = item.id_Product })" class="h3 text-decoration-none" style="font-size:19px !important" title="@item.NameProduct">@Nothtml1.Remove(23, Nothtml1.Length - 23)...</a>

                                                    }

                                                }
                                                else
                                                {
                                    <a href="@Url.Action("Details", "Shop", new { id = item.id_Product })" class="h3 text-decoration-none" style="font-size:19px !important" title="@item.NameProduct">@Nothtml1</a>

                                                }
                                </div>
                            </div>
                                    }
                                    catch
                                    {

                                    }
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">

                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>

                            <p class="text-center mb-0" style="font-size: 24px !important; font-weight: 500 !important; color: green ">@item.PriceValue &#8381;</p>
                        </div>
                    </div>
                </div>
                    }


                }
            </div>
            <div div="row">

                <ul class="pagination pagination-lg justify-content-end">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CuurentGen1, genre = Model.CuurentGen }))
                    @*<li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>*@
                </ul>
            </div>
        </div>

    </div>

</div>
<style>
    .c3c {
        align-items: center;
        background-color: transparent;
        border-radius: 12px;
        box-sizing: border-box;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        overflow: hidden;
    }
    .c9k {
        order: 0;

    }
    .cc4 {
        background-color: #59ab6e;
        color: #fff;
        flex-shrink: 0;
        font-weight: 500 !important;
        font-size: 22px !important;
        line-height: 18px;
        padding: 3px 10px;
    }
</style>
<!-- End Content -->
