@{
    @*@Html.RouteLink(item, "ShopCategory", new { category = item }, new { @class = "collapsed d-flex justify-content-between h3 text-decoration-none" })*@
Diplom.Models.Entities db = new Diplom.Models.Entities();
var categoryProducts = (from product in db.Product.GroupBy(cat =>cat.id_Type)
                       join categore in db.Category on product.FirstOrDefault().id_Category equals categore.id_Category
                       join typeProduct in db.TypeProduct on product.Key equals typeProduct.id_Type 
                       select new
                       {
                           CategoryID = categore.id_Category,
                           NameCategory = categore.NameCategory,
                           NameType = typeProduct.NameType
                       }).ToList();
}

@*@Html.RouteLink("Домой", "HomeShop", new { action = "Index" })*@


<div class="col-lg-3">
    <h1 class="h2 pb-4">Категории</h1>
    <ul class="list-unstyled templatemo-accordion">
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Диагностика и измерения
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory=>currentCategory.CategoryID == 1))
                {
                    <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>

        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Красота и здоровье
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory => currentCategory.CategoryID == 2))
                {
                        <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>

        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Массажеры
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory => currentCategory.CategoryID == 3))
                {
                        <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>

        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Средства реабилитации
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory => currentCategory.CategoryID == 4))
                {
                        <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>

        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Чистый воздух
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory => currentCategory.CategoryID == 5))
                {
                        <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>

        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Ингаляторы
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var item in categoryProducts.Where(currentCategory => currentCategory.CategoryID == 6))
                {
                        <li><a class="text-decoration-none" style="color:#000;" href="@Url.RouteUrl("TypeCategory", new { category = item.NameCategory, genre = item.NameType })">@item.NameType</a></li>
                }
            </ul>
        </li>
    </ul>


    <style>
        a:hover {
            color: green !important;
        }
    </style>
</div>