@model Diplom.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container body-content">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8">
                    @Html.AntiForgeryToken()
                    <h4 class="h2" style="font-weight:500;">Создание новой учетной записи.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "h3 text - decoration - none" })
                        <div class="col-md-10" style="margin-bottom:20px;">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "h3 text - decoration - none" })
                        <div class="col-md-10" style="margin-bottom:10px;">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "h3 text - decoration - none" })
                        <div class="col-md-10" style="margin-bottom:15px;">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col d-grid" >
                            <button type="submit" class="btn btn-success btn-lg" name="submit" value="Регистрация" style="width:150px;">Регистрация</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
